.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 144px;
    margin-right: 144px;
    border-top: 0.5px solid #efefef;
}

.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item{
    padding: 16px;
}