.nav-container{
    height: 52px;
    background-color: white;
    margin-left: 144px;
    margin-right: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.25);
}

.nav-search{
  flex: 1;
  margin: 0 32px;
}

.nav-link-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-item{
    padding-right: 16px;
}

.nav-item a {
  display: block;
  text-align: center;
  padding: 16px;
}

.nav-item a:hover {
  background-color: #FAA300;
  color: white;
  font-weight: 600;
}

.nav-icons-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon{
    padding: 16px;
}

.nav-icon svg:hover{
    fill: #FAA300;
}

.nav-button{
    border: 1px solid #FAA300;
    padding: 4px 12px;
    border-radius: 4px;
    display: block;
}

.nav-button:hover{
    background-color: #FAA300;
    color: white;
    font-weight: 500;
}

.search-input{
    box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    color: #828282;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    height: 32px;
}

.search-box {
    position:relative;
}
	 
.search-box i {
    position:absolute;
    left:0;
    top:-4px;
    padding: 8px 8px;
}

.search-box svg{
    fill: #B6B6B6;
}

input, textarea, select:focus {
  outline: none;
}

.nav-avatar{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 8px;
}

.nav-log{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* The dropdown container */
.dropdown {

  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    border-radius: 4px;
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown svg{
    margin-left: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #FAA300;
  border-radius: 4px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}